body{
    margin: 0;
    background-image: url(fundo-abstrato-holografico-em-cor-de-neon-pastel_40163-61.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15pt;
    width: 200pt;
    margin-bottom: 10px;
    border-radius: 30px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
    
    
}

button{
    cursor: pointer;
    padding: 10px;

}

