body{
    margin: 0;

}

input{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15pt;
    width: 200pt;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
    
    
}

button{
    cursor: pointer;
    padding: 10px;

}

